@use './spacing.scss' as *;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin absolute-center-position {
    position: fixed;
    top: 0;
    left: 0;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin element-disabled {
    opacity: 0.7;
    pointer-events: none;
    cursor: not-allowed;
}

@mixin small-scroll {
    scrollbar-width: thin;
    scrollbar-color: var(--s-color-accent) var(--s-color-blue-light);

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        border-radius: $base-border-radius;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: $base-border-radius;
    }
}
