$radius-scale-base: 20px;

$radii: (
  xs: $radius-scale-base * .5,   // 5
  sm: $radius-scale-base * .75,  // 7.5
  md: $radius-scale-base * 1,    // 10
  lg: $radius-scale-base * 1.5,  // 15
  xl: $radius-scale-base * 2,    // 20
  full: 9999px
);

@function radius($k) {
  @return map-get($radii, $k);
}

$radius-xs: radius(xs);
$base-border-radius: radius(md); // 10px
$radius-button:      radius(md); // 10px
$radius-card:        radius(xl); // 20px
$radius-elips: radius(full);
$card-border-radius: radius(lg); // 15px

$space-scale-base: 10px;

$spaces: (
  xs: $space-scale-base * .25,  // 2.5px
  sm: $space-scale-base * .5,   // 5px
  md: $space-scale-base * 1,    // 10px
  lg: $space-scale-base * 1.5,  // 15px
  xl: $space-scale-base * 2,    // 20px
  xxl: $space-scale-base * 3    // 30px
);

@function space($k) {
  @return map-get($spaces, $k);
}

$padding-xs: space(xs);
$padding-lg: space(lg);
$base-padding: space(md);       // 10px
$padding-xl : space(xl);        // 20px

$margin-xs: space(xs);
$base-margin:  space(md);       // 10px
$margin-xl: space(xl);          // 20px

$base-gap: space(md);           // 10px
$gap-m: space(lg);
