@mixin s-private-colors-dark {
  --s-private-color-white-1000: oklch(22.597% 0.01066 229.565);
  --s-private-color-white-900: oklch(22.6% 0.01422 239.401);
  --s-private-color-white-800: oklch(31.823% 0.01733 234.499);

  --s-private-color-black-850: oklch(0.92 0.02 230);
  --s-private-color-black-300: oklch(0.5074 0.0428 230);

  --s-private-color-blue-900: oklch(0.35 0.06 230);
  --s-private-color-blue-850: oklch(0.6825 0.1263 240.36);
  --s-private-color-blue-850-alpha-40: oklch(0.48 0.06 230 / 30%);

  --s-private-color-blue-300: oklch(0.25 0.04 230);
  --s-private-color-blue-200: oklch(0.32 0.03 230);

  --s-private-color-green-1000: oklch(0.30 0.07 160);
  --s-private-color-green-700:  oklch(0.6499 0.12 171.52);

  --s-private-color-red-700: oklch(0.6528 0.1658 30);
  --s-private-color-red-700-alpha-50: oklch(0.60 0.15 30 / 50%);

  --s-private-color-yellow-700: oklch(0.9332 0.107 111.18);


}
